AzureDataFactory/Pipelines/Increm_data_pipeline.json
{
  "name": "Increm_data_pipeline",
  "properties": {
    "activities": [
      {
        "name": "current_load",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderQuery": "select max(date_id) as max_date from dbo.cars_source_data",
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "dataset": {
            "referenceName": "ds_sqldb",
            "type": "DatasetReference",
            "parameters": {
              "tablename": "cars_source_dara"
            }
          },
          "firstRowOnly": false
        }
      },
      {
        "name": "last_load",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderQuery": "select last_load from watermark_table",
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "dataset": {
            "referenceName": "ds_sqldb",
            "type": "DatasetReference",
            "parameters": {
              "tablename": "watermark_table"
            }
          },
          "firstRowOnly": false
        }
      },
      {
        "name": "Copy_Increm_data",
        "type": "Copy",
        "dependsOn": [
          {
            "activity": "last_load",
            "dependencyConditions": ["Succeeded"]
          },
          {
            "activity": "current_load",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderQuery": {
              "value": "select * from dbo.cars_source_data where date_id >'@{activity('last_load').output.value[0].last_load}' and date_id<='@{activity('current_load').output.value[0].max_date}'",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "sink": {
            "type": "ParquetSink",
            "storeSettings": {
              "type": "AzureBlobFSWriteSettings"
            },
            "formatSettings": {
              "type": "ParquetWriteSettings"
            }
          },
          "enableStaging": false,
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          }
        },
        "inputs": [
          {
            "referenceName": "ds_sqldb",
            "type": "DatasetReference",
            "parameters": {
              "tablename": "cars_source_data"
            }
          }
        ],
        "outputs": [
          {
            "referenceName": "ds_bronze",
            "type": "DatasetReference"
          }
        ]
      },
      {
        "name": "WatermarkUpdate",
        "type": "SqlServerStoredProcedure",
        "dependsOn": [
          {
            "activity": "Copy_Increm_data",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "storedProcedureName": "[dbo].[Watermark_update]",
          "storedProcedureParameters": {
            "lastload": {
              "value": {
                "value": "@activity('current_load').output.value[0].max_date",
                "type": "Expression"
              },
              "type": "String"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "ls_SqlDatabase",
          "type": "LinkedServiceReference"
        }
      }
    ],
    "annotations": [],
    "lastPublishTime": "2025-06-23T16:28:36Z"
  },
  "type": "Microsoft.DataFactory/factories/pipelines"
}
